/*전체 영역*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
    font-family: 'Ria';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


/*Login 영역*/

.Login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 24px;
  background-color: #F9F9F9;
}

.Login-leftside {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login-leftBox {
  background-color: #F7AD72;
  width: 618px;
  height: 788px;
  border-radius: 50px;
  background-image: url('./assets/login-background.png');
}


.Login-rightside {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-rightBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.Login-rightBox > span {
  font-size: 54px;
  font-weight: 900;
  font-family: 'Ria';
}

.Login-inputBox {
  width: 450px;
  height: 550px;
  border-radius: 50px;
  background-color: #F7D6C3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
  position: relative;
}

.Login-IDBox {
  background-color: #FCEFE3;
  border-radius: 20px;
  width: 340px;
  height: 63px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
  .Login-IDBox > label {
    font-size: 24px;
    font-weight: 800;
    font-family: 'Ria';
  }
  .Login-IDBox > input  {
    height: 30px;
    width: 200px;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    margin-left: 4px;
  }

.Login-PWBox {
  padding: 0px 4px;
}

#Login-submitButton {
  background-color: #FCEFE3;
  border-radius: 20px;
  width: 180px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 800;
  transition-duration: 0.14s;
  font-family: 'Ria';
}
  #Login-submitButton:hover {
    background-color: #ffb36c;
  }

.Login-submitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login-signButton {
  color: #EC9950;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  font-size: 24px;
  font-weight: 800;
  font-family: 'Ria';
}

.Login-submitBox > span {
  color: rgb(212, 38, 38);
  min-height: 24px;
  font-family: 'Ria';
}

/*Header 영역*/

.Head-container {
  width: 100%;
  height: 8vh;
  background-color: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 14px;
}

.Head-leftSide {
  display: flex;
  align-items: center;
  gap: 14px;
}

.Head-icon {
  width: 50px;
  height: 50px;
}

.Head-title {
  color: #B85C38;
  font-size: 35px;
  font-weight: 800;
  font-family: 'Ria';
}

.Head-rightSide {
  display: flex;
  align-items: center;
  gap: 3px;
}

.Head-button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;
  font-weight: 800;
  padding: 0px 5px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Ria';
  transition-duration: 0.15s;
}
  .Head-button:hover {
    background-color: rgba(182, 182, 182, 0.262);
  }
  .Head-button.active {
    color: #EC9950;
  }

.Head-slash {
  width: 6px;
  height: 30px;
  background-color: black;
}

/*Main 영역*/

.Main-container {
  width: 100%;
  height: 92vh;
  background-color: #FCEFE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Main-searchInputBox {
  margin-top: 40px;
  width: 75%;
  height: 61px;
  border-radius: 1500px;
  outline:none;
  border: 3px solid #F7AD72;
  background-color: #F7D6C3;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.Main-searchInputBox > input {
  width: 93%;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 0px;
  font-size: 24px;
}

.Main-searchInputBox > button {
  width: 5%;
  height: 100%;
  border: 0px;
  outline: none;
  border-left: 3px solid #F7AD72;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50px;
  cursor: pointer;
}

.Main-searchInputBox > button > img {
  margin-left: 8px;
  width: 50px;
}

.Main-boxTitle {
  width: 94%;
  display: flex;
  justify-content: flex-start;
  font-family: 'Ria';
  margin-top: 24px;
  gap: 28px;
}

.Main-boxTitle > span {
  font-size: 30px;
}

.Main-boxTitle > button {
  width: 140px;
  border-radius: 400px;
  outline: none;
  border: 1px solid #EC9950;
  background-color: white;
  font-family: 'Ria';
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.15s;
}
  .Main-boxTitle > button.active {
    background-color: #F7AD72;
  }

.Main-box {
  width: 96%;
  height: 72%;
  background-color: #F9F9F9;
  border-radius: 50px;
  margin-top: 8px;
}

/*userPage 영역 */

.userPage-container {
  width: 100%;
  height: 92vh;
  background-color: #FFE8D6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userPage-box {
  width: 96%;
  height: 90%;
  background-color: white;
  border-radius: 45px;
  padding: 35px;
}

.userPage-userBox {
  display: flex;
  gap: 20px;
}

.userPage-userProfile {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background-color: #fcc9b4;
  border: 4px solid #B85C38;  
}

.userPage-profileRightside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userPage-boughtCount {
  font-family: 'Ria';
  font-size: 35px;
  font-weight: 400;
}

.userPage-userPageBottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 90%;
  gap: 14px;
  margin-top: 10px;
}

.userPage-userName {
  font-family:'Ria';
  font-size: 48px;
}
.userPage-userEmail {
  font-family: 'Ria';
  font-size: 20;
}

.userPage-btnBox {
  display: flex;
  gap: 20px;
}

.userPage-btnBox > button {
  width: 137px;
  height: 50px;
  background-color: #FFB266;
  border: 1px solid #B85C38;
  border-radius: 20px;
  font-family: 'Ria';
  font-size: 23px;
  cursor: pointer;
}
  .userPage-btnBox > button:hover {
    background-color: #B85C38;
  }